body { 
	background-image: url('../images/medi_background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.line-graph {

	background-color: white;
}